<body class="sign-up">

<div class="sign-up-flex">

<div class="sign-up-form">

  <h2 class="sign-up-heading">Sign up      | <a class="log-in-link" href="/users/sign_in">Log in</a>
</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <%= f.hidden_field :new_comments, :value => 0%>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  <p>Avatar</p>
  <div class="field">
    <%= f.label :avatar do %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
    <% end %>
  </div>
  <br>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

</div>

<div class="linkshare-heading">
  <h1> Welcome to Klatch! </h1>
  <h3> Let your friends pique your interest and pick your brain</h3>
  <p>Klatch is a link sharing platform that keeps you in the loop with peace of mind.
  Share breaking news, opinion pieces, and other links with people you trust.
  <br>
  <br>
  Just want to read content? No problem. Klatch's discussion feature is separate from your feed,.
  All conversation is bi-directional only, so when you comment on a friend's article, only they can see it, and vice versa.
  <br>
  <br>
  No anonymous negativity, no wondering who's reading your discussions--no worries.
  </p>
</div>

</div>
</body>
