<br>

<div class = "discussion-flex">

  <div class="friend-articles-flex">
    <div class="discussion-heading">Friends' Articles</div>

  <% if @articles.length > 0 %>

    <%@articles.each do |article|%>
      <%if article.user_id == current_user.id%>

          <% begin %>
            <% object = LinkThumbnailer.generate(article.link) %>
            <% rescue LinkThumbnailer::Exceptions => e %>
            <% object = nil %>
          <% end %>

        <%if object!=nil%>
        <div class="discussion-main">
          <span class="feed-message"><%="#{article.message}"%></span>
          <div>
            <%= image_tag object.images.first.src.to_s, :class => "discussion-image"%>
          </div>
          <div class="feed-title">
            <%=link_to object.title, article.link%>
          </div>
          <div class="feed-description">
            <% if object.description.length > 300 %>
              <%="#{object.description.truncate(300, separator: ' ')}"%>
            <% else %>
              <%= object.description%>
            <% end %>
          </div>
        </div>
        <%end%>

        <ul>
        <div><%="Discussions:"%></div>
        <%article.comments.pluck(:sender_id).uniq.each do |sender_id|%>
          <li>
          <div><%=image_tag User.find(sender_id).avatar.thumb.url, :class => "feed_avatar" if User.find(sender_id).avatar?%>
          </div>
          <%="#{User.find(sender_id).first_name} #{User.find(sender_id).last_name}"%>
          </li>
          <%end%>
        </ul>
        <%end%>
      <%end%>
    <%end%>
  </div>

<div class="user-articles-flex">
  <div class="discussion-heading">Your Articles</div>

<% if @articles.length > 0 %>

  <%@articles.each do |article|%>
    <%if article.user_id == current_user.id%>

        <% begin %>
          <% object = LinkThumbnailer.generate(article.link) %>
          <% rescue LinkThumbnailer::Exceptions => e %>
          <% object = nil %>
        <% end %>

      <%if object!=nil%>
      <div class="discussion-main">
        <span class="feed-message"><%="#{article.message}"%></span>
        <div>
          <%= image_tag object.images.first.src.to_s, :class => "discussion-image"%>
        </div>
        <div class="feed-title">
          <%=link_to object.title, article.link%>
        </div>
        <div class="feed-description">
          <% if object.description.length > 300 %>
            <%="#{object.description.truncate(300, separator: ' ')}"%>
          <% else %>
            <%= object.description%>
          <% end %>
        </div>
      </div>
      <%end%>

      <ul>
      <div><%="Discussions:"%></div>
      <%article.comments.pluck(:sender_id).uniq.each do |sender_id|%>
        <li>
        <div><%=image_tag User.find(sender_id).avatar.thumb.url, :class => "feed_avatar" if User.find(sender_id).avatar?%>
        </div>
        <%="#{User.find(sender_id).first_name} #{User.find(sender_id).last_name}"%>
        </li>
        <%end%>
      </ul>
      <%end%>
    <%end%>
  <%end%>
</div>

</div>
