<br>
<h2>Your Feed</h2>

<ul>
  <% if @user.friends.length > 0 %>
  <% @user.friends.each do |friend| %>
    <% friend.articles.each do |article| %>
      <li>
        <%= link_to "#{article.link}" %>
        <%= "posted by #{friend.name}" %>
        <br>
        <%= "#{article.message}"  %>
      </li>
    <br>
    <% @feedArticles +=1 %>
    <% end %>
  <% end %>
  <%if @feedArticles== 0 %>
    <%="Your friends haven't shared anything yet!" %>
  <% end %>


</ul>
  <% else %>
  <p> You don't have any friends yet! <%=link_to "Go make some", "/user/#{current_user.id}/friendships/new/" %>
  </p>
  <% end %>
