<br>
<h2 class="feed-header">Your Feed</h2>

  <% if @user.friends.length > 0 %>

      <% @articles.each do |article| %>

      <% friend = User.find(article.user_id) %>

      <div class="feed-container">

        <div class="feed-heading">
            <span class="feed-avatar">
              <%=avatar_for(friend)%>
            </span>
          <div class="feed-details">
            <div class="feed-name"> <%= "#{friend.first_name} #{friend.last_name}" %> </div>
            <div class="feed-time localize"><%="#{article.created_at}"%></div>
          </div>
        </div>

          <% article.makeThumbnail %>

          <div class="feed-main">
            <span class="feed-message"><%="#{article.message}"%></span>
            <div class="feed-pic">
              <%= image_tag article.pic_url, :class => "feed-image" if article.pic_url?%>
            </div>
            <div class="feed-title">
              <%=link_to article.title, article.link%>
            </div>
            <div class="feed-description">
              <%= article.description%>
            </div>

            <div class="discussion-link">

              <%if article.comments.where(sender_id:current_user.id).length > 0 %>
                <%=link_to "Go to discussion", comments_index_path%>
                <% end %>
            </div>

            <%= form_for @comment, url: comments_feed_create_path(user_id: friend.id, sender_id: current_user.id, article_id: article.id) do |f| %>
            <%= f.text_area :content, cols: 68, rows: 1, :class => "reply-feed" %>
            <%= f.submit "Message #{friend.first_name} about this", :class => "submit-feed" %>
            <% end %>

            <br>
          </div>

        <br>

      </div>
    <% end %>
  <% else %>
    <p> You don't have any friends yet! <%=link_to "Go make some", "/user/#{current_user.id}/friendships/" %> </p>
  <% end %>

  <%if @feedArticles== 0 && current_user.friends.length > 0 %>
    <%="Your friends haven't shared anything yet!" %>
  <% end %>
