<h2>Article Feed</h2>
<% if @user %>
  <p> There is a current user. </p>
<% end %>

<ul>
<% if @user.friends.length > 0 %>
<% @user.friends.each do |friend| %>
  <% friend.articles.each do |article| %>
    <li>
      <%= link_to "#{article.link}", user_article_path(article.user_id, article.id) %>
      <br>
      <%= "posted by #{User.find(article.user_id).name}"  %>
      <%= article.message %>
    </li>
  <% end %>
  <% end %>
</ul>

<% else %>
<p> You don't have any friends yet! </p>
<% end %>

<p> Your profile </p>
<%= link_to "View friends", "/user/#{current_user.id}/friendships/" %>
<%= link_to "Share an article with your friends", "/user/#{current_user.id}/friendships/new" %>
