<br>
<h2 class="index-header" id="index-header">Your Articles</h2>

  <div class="share-article">
    <% if @user.friends.length > 0 %>
      <%= link_to "Share an article with your friends", "/user/#{current_user.id}/articles/new" %>
    <% end %>
  </div>

  <% if @user.articles.length > 0 %>

    <% @user.articles.order(created_at: :desc).each do |article| %>

      <div class="feed-container">

        <div class="feed-heading">
            <span class="feed-avatar">
              <%=avatar_for(current_user)%>
            </span>
          <div class="feed-details">
            <div class="feed-name"> <%= "#{current_user.first_name} #{current_user.last_name}" %> </div>
            <div class="feed-time localize"><%="#{article.created_at}"%></div>
          </div>
          <div class="index-buttons">
            <%= button_to "Edit", edit_user_article_path(:id=>article.id), :form_class => "index-edit", :method => :get %>
            <%= button_to "Delete", delete_article_path(:id=>article.id), :form_class => "index-delete", :method => :delete %>
          </div>
        </div>

        <% article.makeThumbnail %>

        <div class="feed-main">
          <span class="feed-message"><%="#{article.message}"%></span>
          <div class="feed-pic">
            <%= image_tag article.pic_url, :class => "feed-image" if article.pic_url?%>
          </div>
          <div class="feed-title">
            <%=link_to article.title, article.link%>
          </div>
          <div class="feed-description">
              <%= article.description%>
          </div>


          <div class="discussion-link">
            <%if article.getCommenterIds(current_user).length > 0 %>

              <%if article.getCommenterIds(current_user).length == 1 %>
                <%=link_to "#{article.getCommenterIds(current_user).length} discussion", comments_index_path%>
              <% else %>
                <%=link_to "#{article.getCommenterIds(current_user).length} discussions", comments_index_path%>
              <% end %>

            <% end %>
          </div>

      </div>

      </div>

      <br>
    <% end %>


  <% elsif @user.friends.length > 0 %>
    <p class="no-articles"> You haven't posted any articles yet! </p>
  <% else %>
    <p class="no-articles"> You don't have any friends yet to share articles with! <%=link_to "Go make some", "/user/#{current_user.id}/friendships/" %>
    </p>
  <% end %>
