<br>
<h2>Your Articles</h2>

  <ul id = "feed">
  <% if @user.articles.length > 0 %>
    <%puts @user.articles%>
    <% @user.articles.each do |article| %>
      <li>
        <%= link_to "#{article.link}"%>
        <%= link_to "Edit", edit_user_article_path(:id=>article.id) %>
        <%= link_to "Delete", delete_article_path(:id=>article.id), :method => :delete %>

        <br>
        <%= "#{article.message}"  %>
      </li>
      <br>
  <% end %>
  </ul>
  <% elsif @user.friends.length > 0 %>
    <p> You haven't posted any articles yet! </p>
  <% else %>
    <p> You don't have any friends yet to share articles with! <%=link_to "Go make some", "/user/#{current_user.id}/friendships/new/" %>
    </p>
  <% end %>

  <% if @user.friends.length > 0 %>
    <%= link_to "Share an article with your friends", "/user/#{current_user.id}/articles/new" %>
  <% end %>
