<h2>Share an Article</h2>

<%= form_for @article, :url => { :action => "create" } do |f| %>
  <%= f.label :link %>
  <%= f.text_field :link %>
  <br>
  <br>
  <%= f.label :message %>
  <%= f.text_area :message, :cols => "40", :rows => "10" %>
  <br>
  <br>
  <%= f.submit "Share article"%>
<% end %>
