<!DOCTYPE html>
<html>
  <head>
    <title>Linkshare</title>
    <%= csrf_meta_tags %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if current_user %>
    <h1 class = #header> Hi <%=current_user.name%> </h1>
    <% else %>
    <p> "No one is logged in." </p>
    <% end %>
    <%= yield %>
  </body>
</html>
